<div>

    <div class="col-md-offset-4 col-md-4 text-center">
        <a id="btnEnterExpense" href="#/addexpense" class="btn btn-primary hvr-shrink">Add Expense</a>
    </div>

    <div class="col-md-offset-4 col-md-4 text-center">
        <a id="btnEditExpense" href="#/editexpense" class="btn btn-primary hvr-shrink">Edit/Delete Expense</a>
    </div>

    <div class="col-md-offset-4 col-md-4 text-center">
        <a id="btnGetExpense" href="#/expensereport" class="btn btn-primary hvr-shrink">Get Expense Report</a>
    </div>


</div>

