<div class="bs-example">

        <form style="padding: 1%">
            <div class="row">

                <div class="col-md-offset-3 col-md-2">
                    <h4> <span class="label label-info">Date</span> </h4>

                </div>

                <div class="col-md-2">
                    <h4> <span class="label label-info">Category</span> </h4>
                </div>

                <div class="col-md-1">
                    <h4> <span class="label label-info">Amount</span> </h4>
                </div>

                <div class="col-md-2">
                    <h4> <span class="label label-info">Note</span> </h4>
                </div>


            </div>

            <div data-ng-repeat="expense in expenseListToAdd" style="background-color: #d3741c">

                <div class="row" style="padding: 1%">

                    <div class="col-md-offset-3 col-md-2">

                        <input type="date" class="form-control" ng-model="expense.date">
                    </div>

                    <div class="col-md-2">
                        <select class="form-control" ng-model="expense.category" ng-options="category.value as category.title for category in categoryList">
                            <option value="">Select Category</option>
                        </select>

                    </div>

                    <div class="col-md-1">
                        <input type="number" step="any" min="0" class="form-control" ng-model="expense.amount">
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="expense.note">
                    </div>

                    <div class="col-md-1">

                        <span ng-hide="expenseListToAdd.length === 1" class="glyphicon glyphicon-minus-sign"
                              style="font-size:1.8em; cursor: pointer; color: darkred" data-ng-click="deleteExpenseRow(expenseListToAdd,$index)"
                              data-toggle="tooltip" title="Delete">
                        </span>

                        <span ng-show="$index === expenseListToAdd.length-1" class="glyphicon glyphicon-plus-sign"
                              style="font-size:1.8em; cursor: pointer; color: darkgreen" data-ng-click="addExpenseRow(expenseListToAdd)"
                              data-toggle="tooltip" title="Add">

                        </span>

                    </div>


                </div>

            </div>

            <div class="row" style="padding: 3%">

                <div class="col-md-offset-5 col-md-1">
                    <button id="btnSave"  class="btn btn-primary" data-ng-click="save()">Save</button>
                </div>

                <div class="col-md-1">
                    <a id="btnCancel" href="#/main" class="btn btn-primary">Cancel</a>
                </div>
            </div>

        </form>


</div>
